.sidebar {
    width: 12%;
    height: 100vh;
    padding-top: 20px;
    border-right: 1px solid #e8eaec;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляет тень для визуального отделения */
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #6c757d;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: #e9ecef;
    color: #2236a8;
}

.sidebar-link i {
    margin-right: 10px;
}
.menu-button {
    display: flex;
    justify-content: center;
  }

  @media (max-width:768px) {
    .sidebar {
        display: none;
        border-right:  transparent;
    }
  }